<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      Online Grocery
      <h5 class="hint">Use your Google account to sign in or create one now</h5>
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Username">
      <input class="password" type="password" id="login_password" placeholder="Password">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          Remember me
        </label>
      </div>
      <div class="error active">
        Invalid user name or password
      </div>
      <button class="btn btn-primary">login</button>
      <a href="" class="signup">Sign up now</a>
    </div>
  </form>
  <button (click)="loginUsingGoogle()" class="btn btn-warning" style="border-radius: 0;">login with Google</button>
</div>

